package_name: bar
key_file: "key.json"
dry_run: true
openc3_url: http://10.10.10.10/api/ci/googleplay/review/record
openc3_header:
  appkey: xxx
  appname: bar
port: 8001
proxy: 'socks5://10.10.10.10:1080'
#proxy: 'http://10.10.10.10:11080'
debug: true
